<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.architecture.bad.myfigurecollection">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".figuredetail.FigureDetailCollectionFigureActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.architecture.bad.myfigurecollection.MainActivity" />
        </activity>
        <activity
            android:name=".figuredetail.FigureDetailBestPictureActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.architecture.bad.myfigurecollection.MainActivity" />
        </activity>
        <activity
            android:name=".figuregallery.FigureGalleryCollectionFiguresActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Gallery" />
        <activity
            android:name=".figuregallery.FigureGalleryBestPicturesActivity"
            android:theme="@style/AppTheme.Gallery" />
        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".search.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Search" />

        <activity android:name=".timelinetwitter.TwitterTimelineActivity" />

        <service
            android:name=".download.DownloadService"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f8bc8a7c2b7a740714261964ad4795c6df3a6a12" />


    </application>

</manifest>