<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.architecture.bad.myfigurecollection">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".figures.FiguresActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bestpictures.BestPicturesActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".figuredetail.FigureDetailActivity"
            android:parentActivityName=".figures.FiguresActivity"
            android:theme="@style/AppTheme.Detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.architecture.bad.myfigurecollection.figures.FiguresActivity" />
        </activity>
        <activity
            android:name=".figuregallery.FigureGalleryActivity"
            android:theme="@style/AppTheme.Gallery" />
        <activity
            android:name=".timelinetwitter.EmbeddedTwitterActivity"
            android:label="@string/title_activity_embedded_twitter"
            android:theme="@style/AppTheme"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f8bc8a7c2b7a740714261964ad4795c6df3a6a12" />

    </application>

</manifest>